@font-face {
    font-family: Aquire;
    src: url('/fonts/Aquire-BMWox.otf') format('otf');
}

@font-face {
    font-family: AquireBold;
    src: url('/fonts/AquireBold-8Ma60.otf') format('otf');
}

@font-face {
    font-family: AquireLight;
    src: url('/fonts/AquireLight-YzE0o.otf') format('otf');
}

*{
    box-sizing: border-box;
    margin: 0;
}



body{
    background-color: #E7D0BB;
    min-height: 100vh;
}

.dropshadow{
    box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.35);
    z-index: 10;
}

.dropshadowCat{
    z-index: 0;
    box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.35);
}
/* Dropshadow Footer */
.dropshadowF{
    box-shadow: 0px -2px 20px 2px rgba(0,0,0,0.35);
    z-index: 0;
}
/* DropShadow footer bottom part */
.dropshadowFB{
    z-index: 10;
    box-shadow: 0px -10px 10px 1px rgba(0,0,0,0.35);
}

.customLogo{
    font-size: 2rem;
    color: #676666;
    font-family: 'Aquire';
    text-decoration: none;
}

